<p id="notice"><%= notice %></p>

<%= @registered_application.name %>
<%= link_to @registered_application.url, "http://#{@registered_application.url}" %>
<%= link_to 'Edit', edit_registered_application_path(@registered_application) %> |
<%= link_to 'Back', registered_applications_path %>
